@page
@model ToDoApplication.Pages.TaskList.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ToDoItem</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ToDoItem.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ToDoItem.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ToDoItem.IsCompleted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ToDoItem.IsCompleted)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.ToDoItem.Id" class="btn btn-warning">Edit</a> |
    <a asp-page="./Index" class="btn btn-success">Back to List</a>
</div>
